swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>

schemes:
  - http # Remove if your API doesn't support HTTP
  - https # Remove if your API donsn't support HTTPS

host: api.thingful.net # Replace with your hostname. You can also specify port e.g. example.com:777

basePath: / # Replace with your basePath. Note: SHOULD begin with '/'.

info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    # Introduction
    This specification is intended to to be a good starting point for describing your API in
    [OpenAPI/Swagger format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md).
    It also demonstrates features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo) tool and
    [ReDoc](https://github.com/Rebilly/ReDoc) documentation engine. So beyond the standard OpenAPI syntax we use a few
    [vendor extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).

    # OpenAPI Specification
    The goal of The OpenAPI Specification is to define a standard, language-agnostic interface to REST APIs which
    allows both humans and computers to discover and understand the capabilities of the service without access to source
    code, documentation, or through network traffic inspection. When properly defined via OpenAPI, a consumer can
    understand and interact with the remote service with a minimal amount of implementation logic. Similar to what
    interfaces have done for lower-level programming, OpenAPI removes the guesswork in calling the service.

  version: '2016.11.01' # Your API version

  title: Thingful # Replace with your API title

  termsOfService: 'https://thingful.net/site/tos/' 
  
  contact:
    email: support@thingful.net
    url: 'https://thingful.net/site/contact'
  
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
    
externalDocs:
  description: Published API documentation
  url: 'https://thingful.github.io/openapi-spec'
  
produces:
  # List of mime types your API endpoins can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - "application/vnd.api+json"
  
consumes:
  # List of mime types your API endpoints consume.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - "application/vnd.api+json"

# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: Things
    description: Operations related to things
  - name: Users
    description: Operations related to users
  
# Security scheme definitions that can be used across the specification.
securityDefinitions:
  bearer_auth: # security definition name (you can name it as you want)
    type: apiKey
    # The following options are specific to apiKey type
    in: header # Where API key will be passed: header or query
    name: Authorization # API key paramteer name
  basic_auth: # security definition name (you can name it as you want)
    type: basic

paths:
  /things/{id}:
    get:
      tags: 
        - Things
      summary: Get a Thing.
      produces:
        - "application/vnd.api+json"
      parameters:
        - name: id
          in: path
          type: integer
          required: true
      responses:
        "404":
          description: Unable to find the thing.
        "200":
          description: Successful response.
          schema:
            type: object
            properties:
              links:
                type: object
                properties:
                  self:
                    type: string
                    format: url
                  access:
                    type: string
                    format: url
              data:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    $ref: "#/definitions/ThingAttributes"
          examples:
            links:
              self: https://api.thingful.net/things/abc123
              access: https://api.thingful.net/access?uid=abc123
            data:
              id: abc123
              type: thing
              attributes:
                title: Example Thing
                description: The description of an example thing
            x-code-samples:
              lang: JavaScript
              source: console.log("hello world");
      
      security:
        - basic_auth: []
        - bearer_auth: []
        
definitions:
  ThingAttributes:
    type: object
    required:
      - title
    properties:
      title:
        type: string
      descriptin:
        type: string
    